body {
  font-family: 'Open Sans', sans-serif;
  margin: 10%;
  background: #f0f0f0;
}

.container {
  display: flex;
  justify-content: center;
}

.main {
  width: 60%;
  height: 30vmax;
  box-shadow: 0 0 1vmax #ddd;
  background: white;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  padding: 0 2vmax;
  user-select: none;
}

.main__hidden {
  display: none !important;
}

.timer-container {
  padding-top: 1vmax;
}

.timer {
  font-size: 2vmax;
}

.progress-box {
  background: #ddd;
  border-radius: 0.375rem;
  display: inline-block;
  height: 1.5vmax;
  margin-top: 1.5vmax;
  width: 100%;
}

.progress-bar {
  width: 0;
  height: 100%;
  background-color: #47f9ff;
  border-radius: 0.375rem;
  transition: width 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.progress-bar:hover {
  width: 50%;
}

.task {
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-title {
  font-size: 1.5vmax;
}

.task-word {
  border-radius: 0.5vmax;
  margin-left: 0.5vmax;
  font-size: 1.6vmax;
}

.answers-box {
  display: flex;
  justify-content: space-around;
}

.answer-container {
  margin-top: 2vmax;
  background: #f0f0f0b4;
  border-radius: 0.4vmax;
  padding: 1vmax;
  display: flex;
  justify-content: center;
  cursor: pointer;
  user-select: none;
}

.answer-container:hover {
  background-color: #47f9ff;
  transition: 0.5s;
}

.answer-container_wrong {
  background: #f32626 !important;
  color: white !important;
}

.answer-container_wrong:hover {
  background: #f32626;
  color: white;
}

.answer-container_right {
  background: #0ae20a !important;
}

.answer-container_right:hover {
  background: #0ae20a;
}

.answer-container_medium {
  background: #ff6b00;
}

.answer {
  font-size: 1.5vmax;
}

.line {
  margin-top: 1vmax;
  width: 100%;
  height: 0.4vmax;
  background: #f0f0f0;
  border-radius: 0.5vmax;
}

.button-container {
  margin: 1vmax;
  margin-top: 2vmax;
  display: flex;
  justify-content: center;
}

.button-container_restart {
  margin: 2vmax;
}

.button {
  background: white;
  width: 20%;
  height: 2vmax;
  border: none;
  outline: none;
  border-radius: 2vmax;
  cursor: pointer;
  user-select: none;
  transition: background 1s;
}

.button_restart {
  width: 100%;
}

.button:active {
  background-color: #47f9ff;
  background-size: 100%;
  transition: background 0s;
}

.button-text {
  font-size: 1.5vmax;
}

.start-test-container {
  width: 60%;
  height: 30vmax;
  box-shadow: 0 0 1vmax #ddd;
  background: white;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  padding: 0 2vmax;
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start-test-container_results {
  width: 60%;
  box-shadow: 0 0 1vmax #ddd;
  background: white;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start-test-title {
  font-size: 1.5vmax;
}

.start-test-block {
  margin-top: 2vmax;
  background: #f0f0f0b4;
  border-radius: 0.4vmax;
  padding: 1vmax;
  display: flex;
  justify-content: center;
  cursor: pointer;
  user-select: none;
}

.start-test-block:hover {
  background-color: #47f9ff;
  transition: 0.5s;
}

.start-test-container__hidden {
  display: none;
}

.start-button {
  font-size: 1.5vmax;
}

.total {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.total-score {
  width: 100%;
  display: flex;
}

.score-box {
  width: 100%;
  height: 4vmax;
  display: flex;
  justify-content: center;
  align-items: center;
}

.score-box__item {
  font-size: 2vmax;
  font-weight: 600;
  color: white;
}

.comparison {
  width: 75%;
  display: flex;
  justify-content: space-around;
  background: #ffff;
  box-shadow: 0 0.4vmax 0.4vmax rgba(0, 0, 0, 0.25);
  margin: 2vmax;
  border-radius: 0.2vmax;
  padding: 0.5vmax;
}

.comparison__item {
  font-size: 1.5vmax;
  font-weight: 600;
}

.total-block {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0.5vmax;
}

.total-block-cover {
  width: 35%;
  display: flex;
  align-items: center;
}

.total-block-cover__item {
  width: 50%;
  display: flex;
  justify-content: center;
}

.total-block-cover__item_index {
  width: 30%;
}

.total-block__index {
  font-size: 1.5vmax;
}

.total-block__word {
  font-size: 1.5vmax;
}

.total-block-container {
  width: 35%;
  display: flex;
  justify-content: center;
  background: #ffff;
  box-shadow: 0 0.4vmax 0.4vmax rgba(0, 0, 0, 0.25);
  border-radius: 0.2vmax;
  padding: 0.5vmax;
}

.total-block-container__item {
  font-size: 1.5vmax;
}